
table.bom-table-bus {
  border-collapse: collapse;
  box-shadow: 6px 8px 20px 0px #a7bad3;
  background-color: white;
  text-align: left;
}
table.bom-table-bus  th {
    background-color:#ffbea8;
    padding: 0.75rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
  }

  table.bom-table-bus td {
    padding: 1rem 0.2rem;
  }

  table.bom-table-bus tr:nth-child(even) {
    background-color:  #fcede8;
  }
  .bom-bus-status.active {
    background-color: #c8e6c9;
    color: #388e3c;
    margin: 0 auto;
    padding: 0.7rem 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
  }
  .bom-bus-status.no-active {
    background-color: #ffcdd2;
    color: #c62828;
    margin: 0 auto;
    padding: 0.7rem 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
  }
.chakra-card:has(table.bom-table-bus) {
	--card-shadow: none!important
}
