@import url("https://fonts.googleapis.com/css?family=Gugi");
.bom-navbar-bom-logo {
        margin-top: 2%;
    margin-left: 5%;
}
.bom-navbar-bom-logo h1 {
    font-family: 'Gugi';
    font-size: 35px;
}
.bom-navbar-component {
    list-style-type: none;
    display: flex;
    margin-right: 5%;
}
ul.bom-navbar-component li {
    padding: 4% 0;
    white-space: nowrap;
    cursor: pointer;
}
ul.bom-navbar-component li div {
    padding: 11px 37px;
}
.bom-navbar {
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.bom-navbar-component li:nth-child(5) div  {
    background-color: #F26A4C;
    border-radius: 5px;
}
#bom-side-bar {
    max-height: 100vh;
    overflow-y: auto;
}
#bom-side-bar::-webkit-scrollbar {
    width: 6px;
    background-color: #FFF;
} 
#bom-side-bar::-webkit-scrollbar-thumb {
    background-color: #FFF;
}
#bom-side-bar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #FFF;
    background-color: #FFF;
}